
@{
    ViewData["Title"] = "measuringPanelVoltageRelay";
}

<h1> На измерительной панели измерить напряжение путевого реле</h1>
<div>
    <ol>
        <li>
            <div>
                <a asp-action="VoltageRelayLessVoltageRelayWork">U реле < U притяжения</a>
                <hr>
            </div>

        </li>

        <li>
            <div>
                <a asp-action="VoltageRelayMoreVoltageRelayWork">U реле > U притяжения</a>
                <hr>
            </div>

        </li>
        
    </ol>
</div>



