
@{
    ViewData["Title"] = "RelayAnchorDoesntAttractsAfterMovingRelay";
}

<h1>Измерить напряжение на обмотках реле ?</h1>

<div>
    <ol>
        <li>
            <div>
                <a asp-action="VoltageOnRelayWindingMoreVoltageRelayWork">U реле > U притяжения</a>
                <hr>
            </div>

        </li>

        <li>
            <div>
                <a asp-action="VoltageOnRelayWindingLessVoltageRelayWork">U реле < U притяжения</a>
                <hr>
            </div>

        </li>

    </ol>
</div>
