
@{
    ViewData["Title"] = "RelayAnchorAttractsAfterMovingRelay";
}

<h1>Теряется контакт в штепсельной розетке.<br />
    Необходимо осомтреть розетку, заменить её при необходимости.<br /> 
    Либо отрегулировать контакты внутри розетки.</h1>

