
@{
    ViewData["Title"] = "TrackRelayWithoutAmperage";
}

<h1>Пошевелить путевое реле в штепсельной розетке</h1>

<div>
    <ol>
        <li>
            <div>
                <a asp-action="RelayAnchorAttractsAfterMovingRelay">Якорь кратковременно притягивается</a>
                <hr>
            </div>

        </li>

        <li>
            <div>
                <a asp-action="RelayAnchorDoesntAttractsAfterMovingRelay">Якорь не притягивается</a>
                <hr>
            </div>

        </li>

    </ol>
</div>