
@{
    ViewData["Title"] = "VoltageFeedTransformerSecondaryEqualNull";
}

<h1>Неисправен путевой трансформатор(питающий конец). Обрыв обмотки или КЗ обмоток или др. причина. <br />
    Заменить трансформатор</h1>

