
@{
    ViewData["Title"] = "VoltageFeedTransformerPrimaryIsNormal";
}

    <h1>Напряжение на низкой стороне питающего(понижающего) трасформатора РЦ (вторичная обмотка или то, что выдаётся в рельсы) ?</h1>

    <div>
        <ol>
            <li>
                <div>
                    <a asp-action="VoltageFeedTransformerSecondaryEqualNull">Близка к нулю</a>
                    <hr>
                </div>

            </li>

            <li>
                <div>
                    <a asp-action="VoltageFeedTransformerSecondaryIsNormal">Нормальное</a>
                    <hr>
                </div>

            </li>

        </ol>
    </div>