
@{
    ViewData["Title"] = "ImpulseRelayWithoutAmperage";
}

<h1>Импульсное напряжение на путевом реле ?</h1>

<div>
    <ol>
        <li>
            <div>
                <a asp-action="Path_RelayWitoutVoltage">Отсутсвует или ниже нормы</a>
                <hr>
            </div>
        </li>

        <li>
            <div>
                <a asp-action="Path_RelayVoltageIsFine">В норме</a>
                <hr>
            </div>
        </li>

        

    </ol>
</div>