
@{
    ViewData["Title"] = "ImpulseRelayCorruptCode";
}

<h1>Измерить импульсное напряжениена путевом реле</h1>

<div>
    <ol>
        <li>
            <div>
                <a asp-action="VoltagePathRelayOverNormal">Значительно выше нормы</a>
                <hr>
            </div>
        </li>

        <li>
            <div>
                <a asp-action="VoltagePathRelayIsNormal">В пределах нормы</a>
                <hr>
            </div>
        </li>                                                                                                                                                                                                                                                                                                   

    </ol>
</div>