
@{
    ViewData["Title"] = "SupplyVoltageLessNormal";
}

<h1>Выяснить причину подачи пониженного напряжения на шкаф. Проверить наличие напряжения на оммике. Целостность кабеля от оммика до шкафа.</h1>

