
@{
    ViewData["Title"] = "VoltageCellIsNormal";
}

<h1>Проверить напряжение П-М на выходе ячейки</h1>

<div>
    <ol>
        <li>
            <div>
                <a asp-action="VoltageOnCellExitLessNormal">Ниже нормы</a>
                <hr>
            </div>
        </li>

        <li>
            <div>
                <a asp-action="VoltageOnCellExitIsNormal">В пределах нормы</a>
                <hr>
            </div>
        </li>

    </ol>
</div>