
@{
    ViewData["Title"] = "ArrowMakesSmallThrow";
}

<h1>При повёрнутой рукоятке лампа гаснет. А что делает звонок ?</h1>

<div>
    <ol>
        <li>
            <div>
                <a asp-action="TwoLineBellRing">Звонок звонит</a>
                <hr>
            </div>

        </li>

        <li>
            <div>
                <a asp-action="TwoLineBellDoesntRing">Звонок не звонит</a>
                <hr>
            </div>

        </li>
        
    </ol>
</div>