
@{
    ViewData["Title"] = "ArrowConstantlyShowingToqueFriction";
}

<h1>Имеется ли на стрелке вкладыш или посторонний предмет, напресованный снег или грязь</h1>

<div>
    <ol>
        <li>
            <div>
                <a asp-action="FourLineYesItIs">Да, имеется</a>
                <hr>
            </div>

        </li>

        <li>
            <div>
                <a asp-action="FourLineNoItIsNot">Нет, нету</a>
                <hr>
            </div>

        </li>
      
    </ol>
</div>