
@{
    ViewData["Title"] = "Arrow_2_5secondShowWorkingAmperage";
}

<h1>После прекращения тока лампа не горит, а что делает звонок ?</h1>

<div>
    <ol>
        <li>
            <div>
                <a asp-action="ThreeLineBellRing">Звонок звонит</a>
                <hr>
            </div>

        </li>

        <li>
            <div>
                <a asp-action="ThreeLineBellDoesntRing">Звонок не звонит</a>
                <hr>
            </div>

        </li>

    </ol>
</div>