
@{
    ViewData["Title"] = "RedLampIsntOnBellDoesntRing";
}

<h1>Исправны ли рабочие придохранители</h1>

<div>
    <ol>
        <li>
            <div>
                <a asp-action="YesFuseIsWorking">Да, предохранители исправны</a>
                <hr>
            </div>

        </li>

        <li>
            <div>
                <a asp-action="NoFuseIsntWorking">Нет, предохранители не исправны</a>
                <hr>
            </div>

        </li>
        
    </ol>
</div>

