
@{
    ViewData["Title"] = "ThreeLineLampIsOnBellDoesntRing";
}

<h1>Снова перевести стрелку и проверить западание ролика в автопереключателе в вырез контрольной линейки ?</h1>

<div>
    <ol>
        <li>
            <div>
                <a asp-action="ThreeLineNoRolleDoesntStand">Нет, валик не западает</a>
                <hr>
            </div>

        </li>

        <li>
            <div>
                <a asp-action="ThreeLineYesRolleDoesStand">Да, валик западает</a>
                <hr>
            </div>

        </li>

    </ol>
</div>