
@{
    ViewData["Title"] = "YesFuseIsWorking";
}

<h1>Измерить омметром сопротивление отключенной линии (Л1-Л2), измерения произвести со сменой полярности подключаемого прибора</h1>

<div>
    <ol>
        <li>
            <div>
                <a asp-action="ResistEqual23">R = 23 кОм</a>
                <hr>
            </div>
        </li>

        <li>
            <div>
                <a asp-action="ResistMoreThen23">R > 23 кОм</a>
                <hr>
            </div>

        </li>

        
    </ol>
</div>