@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{ 
    ViewData["Title"] = "Index";
}
<h2>All roles</h2>

<a asp-action="Create" class="btn btn-outline-secondary">
    <span class="fa fa-plus-square"></span>
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>           
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>                

                <td class="col-10">
                    <a asp-action="Delete" asp-route-id=@item.Id class="btn btn-outline-danger">
                        <span class="fa fa-close"></span>
                    </a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>