@model MyDiplom.Models.Device

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Device</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Статив</label>
                <input asp-for="Stand" class="form-control" />
                <span asp-validation-for="Stand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Место</label>
                <input asp-for="PlaceOnStand" class="form-control" />
                <span asp-validation-for="PlaceOnStand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Тип</label>
                <input asp-for="typeDevice" class="form-control" />
                <span asp-validation-for="typeDevice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Номер</label>
                <input asp-for="NumberDevice" class="form-control" />
                <span asp-validation-for="NumberDevice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Год</label>
                <input asp-for="YearDevice" class="form-control" />
                <span asp-validation-for="YearDevice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Дата проверки</label>
                <input asp-for="DateCheck" class="form-control" />
                <span asp-validation-for="DateCheck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Дата замены</label>
                <input asp-for="DateFutureCheck" class="form-control" />
                <span asp-validation-for="DateFutureCheck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

