
@{
    ViewData["Title"] = "Calendar";
}
<div>
    <iframe class="container-fluid" src="https://calendar.google.com/calendar/embed?src=bv71qace562g02gl0dqapcrir4%40group.calendar.google.com&ctz=Europe%2FMinsk" style="border: 0" width="1400" height="600" frameborder="0" scrolling="no"></iframe>
</div>


