
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
@*<style>
    #myText{
        color:red;
    }
</style>*@
<div class="myText">    
    Contact details:<br />
    Emal: kolganem@mail.ru<br />
    Developed by: Kolhan Alexei
</div>

